@import 'https://fonts.googleapis.com/css?family=Raleway';

html, body
{
    margin: 0px;
}

div.homeContainer
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 10em 3em;
	text-align: center;
	position: fixed; 
    width:90%;
    bottom:0;
}

div.homeContainer a
{
    color: #9e9e9e;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.gray
{
    background: #FFF;
}
div.highlightTextIn a:before
{
    position: absolute;
    color: #9e9e9e;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
} 

div.highlightTextOut a:hover:before, div.highlightTextIn a:hover:before
{
    transform: scale(1);
    opacity: 1;
}

/* Highlight text in  */
div.highlightTextIn a
{
    color: rgba(0, 0, 0, 0.4); 
}

div.highlightTextIn a:before
{
    transform: scale(1.2);
} 





.border-primary.text-center:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
.bg-light 
{
  background: #ccc; 
}
.section-title 
{
  color: #007bff;
  font-size: 40px;
  font-weight: 900; 
}
@media (max-width: 991.98px) 
{
.section-title 
{
      font-size: 30px; 
} 
}